# Ignore node_modules
node_modules/

# Ignore build and dist folders
build/
dist/

# Ignore Prisma migration files and generated client
prisma/migrations/
prisma/generated/
*.prisma

# Ignore coverage directory from tests
coverage/

# Ignore log files
*.log

# Ignore package-lock.json or yarn.lock (if you don't want them formatted)
package-lock.json
yarn.lock

# Ignore any temporary or editor-related files
*.swp
*.swo
.vscode/
.idea/



# Ignore specific file extensions if needed
*.md
*.jsonc
